/*
BEM (Block Element Modifer) nameing convention used here
- Any DOM node can be a block
- Any DOM node within a block can be an element
- Modifier is an extra class name which you add to a block/element DOM node
- Block  : .block
- Element: .block__elem
- Modifer: .block--mod OR .block__elem--mod
*/

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.container {
  height: 100%;
  max-width: 500px;
  max-height: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 1 1 100%;
  display: flex;
}

.row__element {
  flex: 1 1 100%;
  text-align: center;
  background: #f4f5f6;
}

.row__element:hover {
  background: #bdf5ff
}
