/*
BEM (Block Element Modifer) nameing convention used here
- Any DOM node can be a block
- Any DOM node within a block can be an element
- Modifier is an extra class name which you add to a block/element DOM node
- Block  : .block
- Element: .block__elem
- Modifer: .block--mod OR .block__elem--mod
*/

:root {
  --background-color: #22333b;
  --text-window-color: #f2f4f3;
  --primary-keys-color: #d1d1d1;
  --secondary-keys-color: #e6c79c;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: var(--background-color);
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 1 1 auto;
  display: flex;
}

.row--expression {
  flex: 0.8 1 auto;
}

.row__element {
  flex: 1 1 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row__element--expression {
  background: var(--text-window-color);
  justify-content: flex-end;
  align-items: flex-end;
}

.row__element--answer {
  background: var(--text-window-color);
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 3em;
}

.row__element--num {
  background: var(--primary-keys-color);
}

.row__element--del {
  background: var(--secondary-keys-color);
}

.row__element--ope {
  background: var(--secondary-keys-color);
}

.row__element--equ {
  background: var(--secondary-keys-color);
}

.row__element:hover {
  background: #bdf5ff
}

@media all and (min-height: 825px){
  .container {
    max-height: 500px;
  }
}

@media all and (min-width: 700px){
  .container {
    max-width: 500px;
    margin: auto;
  }
}
